<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @employment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @employment.description %>
</p>

<p>
  <strong>Key skills:</strong>
  <%= @employment.key_skills %>
</p>

<p>
  <strong>Date:</strong>
  <%= @employment.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @employment.user %>
</p>

<%= link_to 'Edit', edit_employment_path(@employment) %> |
<%= link_to 'Back', employments_path %>
