<% if @job.errors.any? %>
<ul>
  <% @job.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for [:admin, @job], role: "form" do |f| %>

<div class="form-group">
  <%= f.label :title %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.text_field :title, :autofocus => true, class: "form-control monospaced-control", placeholder: "Title (also used for URL slug)..." %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :content_md, "Content" %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.text_area :content_md, rows: 15, class: "form-control monospaced-control", placeholder: "Job content (Markdown format)..." %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :category_id, 'Category' %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.select :category_id, Category.all.map { |category| [category.name, category.id] }, class: "form-control monospaced-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :city %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.select :city, grouped_options_for_select([['UK', ['Aberdeen', 'Bath', 'Belfast', 'Birmingham', 'Brighton', 'Bristol', 'Cambridge', 'Cardiff / Wales', 'Coventry', 'Derby', 'Devon / Cornwall', 'Dundee', 'East Anglia', 'East Midlands', 'Edinburgh', 'Essex', 'Glasgow', 'Hampshire', 'Kent', 'Leeds', 'Liverpool', 'London', 'Manchester', 'Newcastle', 'Nottingham', 'Oxford', 'Sheffield']], ['Europe', ['Amsterdam', 'Berlin', 'Brussels', 'Budapest', 'Copenhagen', 'Côte d\'Azur', 'Dublin', 'Edinburgh', 'Florence', 'London', 'Munich', 'Oslo', 'Oxford', 'Paris', 'Prague', 'Rome', 'Stockholm', 'Venice / Veneto']], ['USA/Canada', ['Boston', 'Chicago', 'Los Angeles', 'Miami', 'Montreal', 'New York', 'Seattle', 'Sf Bay Area', 'Toronto', 'Vancouver', 'Washington DC']]]), {}, {class: "form-control"} %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :job_length, 'Job length and type' %>
  <div class="row">
    <div class="col-xs-1">
      <%= f.select :job_length, Job.job_lengths.keys.to_a.map { |w| [w.humanize, w] }, class: "form-control monospaced-control" %>
    </div>
    <div class="col-xs-1">
      <%= f.select :job_type, Job.job_types.keys.to_a.map { |w| [w.humanize, w] }, class: "form-control monospaced-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-xs-12">
      <%= f.check_box :suitable_for_graduates %> <%= f.label :draft, "Suitable for graduates?" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :keywords %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.text_field :keywords, class: "form-control monospaced-control", placeholder: "pre-school, mornings, Math" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :salary %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.number_field :salary, class: "form-control monospaced-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :reference %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.text_field :reference, class: "form-control monospaced-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 padded">
    <button class='btn btn-primary'>
      <i class='fa fa-plus-square'></i> Publish
    </button> - <%= link_to "Cancel", admin_jobs_dashboard_path %>
  </div>
</div>

<% end %>
